mat-toolbar {
  background-color: cadetblue;
  height: 15vh;
}

.titulo {
  width: 200px;
  padding-left: 25px;
  color: whitesmoke;
  font-size: 4vh;
}

.sidenav-container {
  background-color: #a68064;
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

footer {
  color: white;
  font-size: xx-small;
  text-shadow: 1px 2px darkslategray;
  text-align: center;
  background-color: rgb(66, 116, 117);
  padding: 2.5vh;
}
