mat-toolbar {
  background-color: cadetblue;
  height: 15vh;
}

.titulo {
  color: whitesmoke;
  font-size: 4vh;
}

.sidenav-container {
  background-color: #a68064;
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
